body {
   background-image: url("images/halloween-background.jpeg");
   background-position: center;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: #9900cc;
    font-size: 80px;
    font-family: 'Syne Tactile', cursive;
}

.game-board {
    display: flex;
    justify-content: center;
}

.row {
    display: inline-block;
}

.square {
    background-color: orange;
    height: 80px;
    width: 80px;
    border: 5px black solid;
    margin: 3px;
}

.game-pieces {
    margin-top: 5%;
    background-color: rgba(172, 230, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    font-size: 30px;
}

.ghost {
    text-decoration: underline;
}

.pumpkin {
    text-decoration: underline;
}
